<footer class="site-footer">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            height:40px;
            width: 100%;
            background-color: rgb(37, 94, 94);
            color: white;

        }

        .container1{
            float:left;
            margin-left: 30px;
        }

        .container2{
            font-size: 20px;
            margin-left: 670px;
        }
    </style>
    <div class="footer">
        <div class="container1">
            <i class="fa fa-linkedin-square" style="font-size:36px" float='right'></i>
            <i class="fa fa-github-square" style="font-size:36px"></i>
        </div>
        <div class="container2">
            <span class="ft-me"><strong> &copy; Pawan Kumar Jain</strong></span>
            {% if 'username' in session %}
            <span class="ft-user">User: {{ session['username'].title() }}</span>
            {% else%}
            {% endif %}
        </div>
    </div>
</footer>