{% extends 'layout.html' %}

{% block body %}
  <style>h1{
    text-align: center;
  }
  ul.mylist{
    margin-top: 60px;
    margin-left: 80px;
    font-size: 20px;
  }</style>
  <h1>About Me</h1>
  <p><ul class="mylist"><li>I am Pawan Kumar Jain pursuing my B.Tech in Computer Science Engineering from LNMIIT Jaipur.</li>
    <li> I am capable to do code in python, cpp, r and have proficient knowledge of frameworks like flask and django.  </li>
    <li> Regularly take parts in online and offline Hackathons</li>
</p>
{% endblock %}
