{% extends 'layout.html' %}

{% block body %}

    <body style="background-image: url('static/img/grad.jpg');";>
    <style>ul.demo{
      margin-left: 200px; font-size: 20px; margin-top: 30px;}
      h1{font-size: 70px;
      }
      
      .con{margin-left: 350px; margin-top: 70px;
      }</style>
      </body>
    <h1 align="center">Entry Management Sofware</h1>
    <p class="lead" align="center" font size="15" ><ul class="demo"><li>This application is built on the Python Flask framework</li>
      <li>Smtplib Used for sending mails to hosts and visitors </li>
      <li>Twillio is used to trigger sms and mail to user and host.</li>
      <li>Flask_mysql used for database management</li>
      </ul></p>
    {% if session.logged_in == NULL %}
    <div class = "con">
      <a href="/register" class="btn btn-info btn-lg">Register</a>
      <a href="/checkout" class="btn btn-info btn-lg">Checkout</a>
      </div>
    {% endif %}
    

{% endblock %}
